{% extends "base.html" %}
{% block content %}

<h2>Participants</h2>
<h4>{{ trek.name }}</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Booking Date</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.user.name }}</td>
            <td>{{ booking.user.email }}</td>
            <td>{{ booking.user.phone }}</td>
            <td>{{ booking.booking_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}